body {
    background-color: #283338;
}

header {
    height: 80px;
    line-height: 80px;
    font-size: 34px;
}

.round-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.round-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.no-resize {
    resize: none;
}

.time-row {
    height: 80px;
}

.time-label {
    line-height: 80px;
    font-size: 28px;
    font-weight: bold;
}

.text-entry {
    font-size: 24px;
}

.bg-smoke {
    background-color: #55584f;
}

.bg-cardinal {
    background-color: #af3931;
}

.bg-past {
    background-color: #a39c84;
}

.bg-present {
    background-color: #af3931;
}

.bg-future {
    background-color: #ece7d4;
}

.action-button {
    height: 54px;
    width: 54px;
    font-size: 36px;
    margin: 13px 0px 13px 0px;
    border-radius: 8px;
}

@media screen and (max-width: 575px) {
    header {
        font-size: 28px;
    }
}

@media screen and (max-width: 991px){
    .time-row {
        height: 160px;
    }

    .time-label {
        line-height: 160px;
    }
}

@media screen and (max-width: 500px){
    .time-label {
        font-size: 20px;
    }
}